<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd 
  http://www.springframework.org/schema/context/ 
  http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="kia" class="com.travel.Car">
		<property name="fuelType" value="Diesel"></property> 
		<property name="speed" value="200"></property> 
	</bean>

	<bean id="ktm" class="com.travel.Bike">
		<property name="fuelType" value="Petrol"></property> 
		<property name="speed" value="100"></property> 
	</bean>

	<bean id="Banglore" class="com.travel.Travel">
		<property name="v">
		<ref bean="kia"/>
		</property>
	</bean>

</beans> 